<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.memoledger">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/start_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.memoledger"
        tools:targetApi="31">
        <activity
            android:name="com.example.memoledger.HomepageActivity"
            android:exported="false" />
        <activity
            android:name="com.example.memoledger.PersonalInformation"
            android:exported="true"/>
        <activity
            android:name="com.example.memoledger.ChangePassword"
            android:exported="true"/>
        <activity
            android:name="com.example.memoledger.ManageActivity"
            android:exported="false" />
        <activity
            android:name="com.example.memoledger.RegisterActivity"
            android:exported="true" />
        <activity
            android:name="com.example.memoledger.RecordActivity"
            android:exported="true" />
        <activity
            android:name="com.example.memoledger.SearchRecordActivity"
            android:exported="true" />
        <activity
            android:name="com.example.memoledger.NotebookActivity"
            android:exported="true" />
        <activity
            android:name="com.example.memoledger.LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>